.bazelrc

# Remote config: JDK 25 + Buildbuddy cache (CI uses --config=remote)
build:remote --java_language_version=25
build:remote --tool_java_language_version=25
build:remote --java_runtime_version=remotejdk_25
build:remote --tool_java_runtime_version=remotejdk_25
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=10m
build:remote --remote_header=x-buildbuddy-api-key=${BUILD_BUDDY_API_KEY}